.margin-container
  width: $desktopWidth
  margin: 0 auto
  +screen(tablet)
    width: calc(100% - 40px)
    margin: 0 20px
  +screen(mobile)
    width: calc(100% - 40px)
    margin: 0 20px

.split-container
  +screen(desktop)
    +flexbox
  +screen(tablet)
    +flexbox
  .split-item
    +flex(1)
