// type

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i)
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700)
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700)



$serif: 'Libre Baskerville', serif


$font_size_big: 20px
$font_size_regular: 16px
$font_size_small: 11px
$regular_line_height: 22px


=superHeader($type)
    font-family: 'Playfair Display', serif
    font-weight: 700
    letter-spacing: 2px
    color: black
    @if $type == big
      font-size: 31px
      line-height: 40px
      font-weight: 900
      letter-spacing: 2px
    @if $type == normal
      font-size: 21px
      line-height: 30px
      letter-spacing: 2px

=subHeader($type)
  font-family: 'Quicksand', serif
  font-weight: 700
  letter-spacing: 2px
  text-transform: uppercase
  color: black
  @if $type == big
    font-size: 21px
    line-height: 30px
    letter-spacing: 3px
  @if $type == normal
    font-size: 15px
    line-height: 20px
    letter-spacing: 1px

=defaultType($type)
  font-family: 'Libre Baskerville', serif
  font-weight: 400
  color: $black
  @if $type == normal
    font-size: 16px
    line-height: 25px
    +screen(mobile)
      font-size: 15px

.pageHeader
  +superHeader(big)
  margin: 40px 0 50px 0
  text-align: center

.subHeader
  +subHeader(big)
  position: relative
  margin-bottom: 25px
  padding-bottom: 15px
  &::after
    position: absolute
    content: ""
    height: 5px
    width: 100px
    background-color: #fac885
    bottom: 0px
    left: 0
